@(form: Form[(String, String)])

@main("Welcome to Play") {

	@helper.form(action = routes.BaseController.authenticate) {
		<fieldset>
			<legend>input user info.</legend>
			@helper.inputText(form("email"))
			@helper.inputText(form("password"))
		</fieldset>
		<input type="submit" value="login">
	}

}
<a href="@routes.BaseController.authenticateJson?email=admin&password=1234">json login</a><br>
<a href="@routes.BaseController.logoutJson">json logout</a><br>
<a href="@routes.JsonController.json1">json1</a><br>
